/**
 * @name CleanDiscord
 * @description Remove unnecessary stuff from Discord.
 * @author Alma
 * @version 1.0.0
 * @website https://github.com/Spelar1231/CleanDiscord
 * @source https://github.com/Spelar1231/CleanDiscord/blob/master/themes/CleanDiscord.theme.css
 * @authorId 875018781221589022
 * @authorLink https://almadev.fun/
*/

/* 
If you want to preserve an element,
 simply remove the code that deletes it.
*/

/* Remove the Activity bar */
[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']) {
    display: none;
}

/* Remove clan/guild tags */
[class*='clanTag']:has([class*='badge']) {
    display: none;
}

/* Remove nitro nameplates */
[class*='container'] [style*='background: linear-gradient'] {
    display: none;
}

/* Remove labels on nitro button in settings */
[class*='premiumTab'] [class*='premiumLabel']:has([role*='img']) {
    display: none;
}

/* Remove labels on nitro button in DMs */
[class*='premiumTrialBadge']:has([class*='eyebrow']) {
    display: none;
}

/* Remove pulse gradient in VC */
[class*='pulseGradient'] {
    display: none;
}

/* Remove avatar decorations */
[src*='/avatar-decoration'] {
    display: none;
}

/* Remove profile effects */
[class*='profileEffects'] {
    display: none;
}

/* Remove quest popup */
[id*='popout']:has([data-mana-component*='popover']) {
    display: none;
}

/* Remove quest button decorations */
[class*='wrapper']:has(
    [style*='transform: translateX(calc(0px)) translateY(-50%) rotate(45deg);']
    ),
[class*='wrapper']:has([class*='glow']) {
    display: none;
}

/* Remove quests button in DMs(andor00 contribution) */
a[href="/quest-home"] {
  display: none !important;
}

/* Remove Nitro Home button in DMs(andor00 contribution) */
a[href="/store"] {
  display: none !important;
}

/* Remove the shop button in DMs(andor00 contribution) */
a[href="/shop"] {
  display: none !important;
}

/* Remove server boost goal */
[class*='-container'][class*='-containerWithMargin']:has([class*='contentContainer']){
    display: none;
}